.profile {
  background-color: #e8fdf6;
}

.container-fluid {
  max-width: 900px;
  background-color: #e8fdf6;
  border-radius: 20px;
}

.identitas h2,
h3 {
  font-size: 36px;
  font-weight: 500;
}

.img-wrapper a {
  color: #17e8a4;
  text-decoration: none;
  text-shadow: 1px 1px 6px black;
  font-size: 20px;
  font-weight: 600;
}

.img-wrapper img {
  max-height: 170px;
  width: 150px;
  object-fit: cover;
  border-radius: 20px;
}
.input-container label {
  color: #034832;
  background-color: #fff;
  width: 100%;
  border: 2px solid;
}

.btn-check:checked + .btn {
  background-color: #5defbf;
}

@media (max-width: 576px) {
  .identitas h2,
  h3 {
    font-size: 24px;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    min-width: 900px;
  }
}
